@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --clr1: #0f172a;
    --clr2: #334155;
    --clr3: #64748B;
    --clr4: #4F46E5;
    --clr5: #1E293B;
    --clr6: #CBD5E1;
    --clr7: #E2E8F0;
    --white: #ffffff;
    --black: #0f2027;
}
*, 
*:before, 
*:after {
    box-sizing: border-box;
}
img, 
svg {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
body {
    background-color: #e7e7e7;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr5);
    position: relative;
    min-width: 22rem;
}
.wrapper {
    background-color: var(--white);
    width: 100%;
    margin: 0 auto;
    max-width: 31rem;
    height: 100vh;
    overflow: hidden;
}
/****************************************************/
header {
    border-bottom: 1px solid var(--clr6);
}
header .banner {
    background-image: url(bg6.svg);
    height: 5.5rem;
    position: relative;
}
header .logo {
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    position: absolute;
    bottom: -2rem;
    left: 1.5rem;
}
header .hug {
    top: 1rem;
    position: absolute;
    right: 1rem;
}
header h1 {
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 1rem;
}
/****************************************************/
.sec-2 {
    display: flex;
    border-bottom: 1px solid var(--clr6);
}
.sec-2 .left {
    flex: 1;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.sec-2 .left label {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--clr2);
}
.sec-2 .right {
    border-left: 1px solid var(--clr6);
    padding: 1.5rem;
    display: flex;
    align-items: center;
}
.sec-2 .right a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--clr4);
    display: flex;
    gap: 0.25rem;
    align-items: center;    
}
.sec-3 {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid var(--clr6);
}
.sec-3 .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-3 .top h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
}
.sec-3 .top b {
    font-weight: 600;
    color: var(--clr3);
}
.sec-3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}
.sec-3 ul li {
    height: 0.5rem;
    background-color: var(--clr7);
    flex: 1;
    border-radius: 1rem;
}
.sec-3 ul li.active {
    background-color: var(--clr4);
}
/****************************************************/
.sec-4  {
    padding: 1.5rem;
}
.sec-4 .title img {
    display: none;
}
.sec-4 .title h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}
.sec-4 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    gap: 0.25rem;
}
.sec-4 ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F5F9;
    padding: 0.75rem;
    border-radius: 0.5rem;
}
.sec-4 ul li.active {
    background-color: #E0E7FF;
}
.sec-4 ul li p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.sec-4 ul li p input {
    margin: 0;
}
.sec-4 ul li span {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #64748B;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 2px solid #cdd5e0;
}
.sec-4 ul li b {
    color: #334155;
}
/****************************************************/
.sec-5 .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--clr6);
}
.sec-5 .box .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
}

.sec-5 .box h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}
/****************************************************/
.sec-6 {
    padding: 1.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr6);
    gap: 0.75rem;
}
.sec-6 .top {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}
.sec-6 .top .left {
    transform: rotateZ(90deg);
}
.sec-6 .top h2 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}
.sec-6 .top .right {
    transform: rotateZ(-90deg);
}
.sec-6 ul {
    margin: 0;
    padding: 0;
    background-color: #F1F5F9;
    list-style: none;
    display: flex;
    border-radius: 0.5rem;
}
.sec-6 ul li {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 0.25rem;
    color: #64748B;
    position: relative;
}
.sec-6 ul li::after {
    content: "";
    width: 1px;
    background-color: #CBD5E1;
    height: 1.5rem;
    position: absolute;
    right: -1px;
    top: 14px;
}
.sec-6 ul li:last-child::after {
    content: none;
}
.sec-6 ul li.active {
    background-color: #4F46E5;
    color: #fff;
    border-radius: 0.5rem;
}
.sec-6 ul li.active::after {
    content: none;
}
.sec-6 ul li.disabled {
    background-color: #E2E8F0;
    color: #94A3B8;
}
.sec-6 ul li.disabled::after {
    content: none;
}
.sec-6 ul li span {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.sec-6 ul li b {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
}
/****************************************************/

.sec-7 .box {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--clr6);
    gap: 0.75rem;
}
.sec-7 .box .title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.sec-7 .box .title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
}
.sec-7 .box .title p {
    margin: 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.sec-7 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sec-7 ul li {
    border: 1px solid #CBD5E1;
    border-radius: 0.5rem;
    margin: 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0 1px rgb(128 124 120 / 15%);
}
.sec-7 ul li.active {
    border: 1px solid #4F46E5;
    background-color: #E0E7FF;
}
.sec-7 ul li.disabled {
    border: 1px solid #F1F5F9;
    background-color: #F1F5F9;
    color: #94A3B8;
    box-shadow: none;
}
/****************************************************/
.sec-8 {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid var(--clr6);
}
.sec-8 .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--clr6);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.sec-8 label {
    color: #64748B;
    line-height: 1.25rem;
    font-size: 0.875rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    gap: 0.25rem;
}
.sec-8 label input {
    font-size: 1rem;
    color: #64748B;
    line-height: 1.5rem;
    border: 1px solid var(--clr6);
    padding: 0.6rem;
    border-radius: 0.375rem;
}
.sec-8 label input::placeholder {
    color: #64748B;
}
.sec-8 .terms {
    display: flex;
    gap: 0.75rem;
}
.sec-8 .terms input {
    padding: 0;
    margin: 0;
}
.sec-8 .terms p {
    margin: 0;
    line-height: 1.5rem;
}
.sec-8 .terms p a {
    color: #334155;
}
.sec-8 .complete {
    border-radius: 0.375rem;
    background-color: #4F46E5;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 0.75rem;
    font-family: 'Poppins', sans-serif;
}
.sec-8 .account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.25rem;
    color: #334155;
}
.sec-8 .account p {
    margin: 0;
}
.sec-8 .account p a {
    font-weight: 600;
    color: #4e46dc;
}
.sec-8 .bottom {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.sec-8 .bottom .button {
    display: flex;
    padding: 0.6rem 1rem;
    border-radius: 0.375rem;
    position: relative;
    cursor: pointer;
}
.sec-8 .bottom .button img {
    position: absolute;
    left: 1rem;
}
.sec-8 .bottom .button span {
    flex: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    color: #334155;
    font-weight: 600;
}













